* {
	box-sizing: border-box;
	/* overflow: hidden; */
}

body{
	background-color: rgb(28, 43, 128);
	/* display: flex; */
	justify-content: center;
	align-items: center;
}

.container{
	text-align: center;
	margin: auto;
	width: 500px;
	height: 550px;
	min-width: 60%;
	background-color: wheat;
	border-radius: 5px;
	box-shadow: 0 0 20px 2px ;
}
table{
	width: 400px;
    height: 400px;
	max-width: 500px;
	max-height: 500px;
	margin: auto;
}

.board td {
	height: 30px;
    width: 30px;
    background-color: rgb(63, 74, 139);
	color: ivory;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
	padding: 1px;
	opacity: 0.9;
	
}

.data{
	text-align: center;
	width: 500px;
	background-color:rgb(211, 202, 186);
	border-radius: 5px;
	position: relative;
	margin: auto;
}

button{
	cursor: pointer;
	width: 70px;
	margin-top: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
		 appearance: none;
 border: 0;
 border-radius: 0;
 background: #ccc;
}

.stopwatch {
	position: absolute;
	left: 10px;
	top: 5px;
	width: 30px;
	background-color: grey;
}

.lives{
	position: absolute;
	right: 10px;
	top: 5px;
	width: 90px;
	background-color: grey;
}

.hint-btn {
	position: absolute;
	/* right: 100px; */
}
.reval-area{
	width: 120px;
	height: 20.4;
	margin: 5px;
}

.data span{
	cursor: pointer;
}
.hint{
	border: 5px green solid;
}

.best-time{
	color: white;
	font-size: 20px;
}
.footer{
	color: lavender;
}
.manually-create{
	position: absolute;
	left: 10px;
	top: 5px;
}